@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton');


body {
  font-family: "Century Gothic", "Lato", sans-serif;
  background-color: #0c1420;
  margin: 0%;
}

a {
  text-decoration: none;
}

.et-hero-tabs {
  background: url(https://images.unsplash.com/photo-1526289034009-0240ddb68ce3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.et-hero-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  text-align: center;
  padding: 0 2em;
}

.porth{
  font-family: 'Monoton', cursive;
  font-weight: 400;
  font-size: 600%;
  color: white;
  margin-top: -10%;
  text-align: center;
  
  word-spacing: 0.8rem;
}

.port{
  font-size: 200%;
  align-items: center;
  color: white;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

  /* resume download button */
.resume{
  text-decoration: none;
  width: 100%;
  max-width: 200px;
  height: 40px;
  display: block;
  line-height: 40px;
  letter-spacing: 3px;
  position: relative;
  text-align: center;
  /* color: #08fdd8; */
  color: #38ebff;
  margin-top: 30px;
}
.resume div{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition:  all .3s ease-in-out;
}
.resume span.bg{
  position: absolute;
  width: 0%;
  height: 100%;
  left: -5px;
  top: 0;
  transition: all .3s ease-in-out;
  background-color: #38ebff;
  transform: skewX(-19deg);
    
}
.resume:hover span.bg{
  width: 110%;
}
.resume span.base{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  border: 1px solid #38ebff;
  box-sizing: border-box;
    
}
.resume span.text{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  
}
.resume:hover span.text{
  color: #1d1d1d;
}


.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: rgb(20 20 20);
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}
.et-hero-tabs i {
  display: none;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #fff;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
  text-decoration: none;
}
.et-hero-tab:hover {
  font-size: 15px;
  color: white;
  background: #03D6EE;
  transition: all 0.5s ease;
}

.abtt{
  background-color:rgb(20 20 20);
  min-height: 100vh;
}

.spc{
  color: white;
}

.typed3 {
  font-weight: bolder;
  /* color: rgb(98, 181, 217); */
  color: #03D6EE;
}

.spc{
  letter-spacing: 0.3rem;
}

.abt{
  margin-top: 35%;
  align-items: center;
  color: white;
}

.tagcloud {
  display: inline-block;
  top: 20%;
  /* left: 18%; */
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
  /* margin-bottom: 20%; */
}

/* Change color of each text in sphere on hover   */
.tagcloud--item:hover {
  /* color: #787878 ; */
  color: rgb(98, 181, 217);
}

.edc{
  background-color:rgb(20 20 20);
  min-height: 100vh;
}


.prct{
  background-color:rgb(20 20 20);
  min-height: 100vh;
}


.Cont{
  background-color:rgb(20 20 20) ;
  /* height: 40vh; */
}

/* body {
  align-items: center;
  background: #e3e3e3;
  display: flex;
  height: 100vh;
  justify-content: center;
} */

.small{
  display: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-800px * 6));
  }
}

.slider {
  background: rgb(255, 255, 255);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  /* height: 100px; */
  margin: auto;
  margin-top: 18%;
  overflow: hidden;
  position: relative;
  width: 828px;
  /* height: 400px; */
  /* max-height: 100%; */
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  /* height: 100px; */
  position: absolute;
  /* width: 200px; */
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(800px * 6);
}
.slider .slide {
  height: 450px;
  /* width: 207px; */
}

.line2{
  margin-top: 128px;
  /* padding-top: 5px; */
  height: 2px;
  color: white;
}


.foot{
  margin-bottom: 40px;
}

/* .footer a:hover {
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.active,
.footer a {
  color: rgb(98, 181, 217) !important;
}

.active::after {
  background: white !important;
} */

/* .bg-var {
  background-color: var(--pri-color);
} */




@media (max-width: 450px) {
  .porth{
      align-items: center;
      font-size: 60px;
  }
  .port{
      align-items: center;
  }

  .slider{
    width: 250px;
    align-items: center;
  }
  .small{
    display: block !important;
  }
  .large{
    display:none;
  }
}